<h2>Add cookie</h2>
<h4>Haha magic! I cant show you, your cookies, but I can add new to the "Shared cookies"</h4>
<div class="form-group">
    <label for="tb-cookie-text">Text: </label>
    <input id="tb-cookie-text" class="form-control">
</div>
<div class="form-group">
    <label for="tb-cookie-category">Category: </label>
    <input id="tb-cookie-category" class="form-control">
</div>
<button class="btn btn-success" id="btn-cookie-add">Add</button>
