<div>
    <h1>Welcome to the Fortune cookie site</h1>
    <p>Every hour you can get your new fortune cookie</p>
    <p>What the stars have in store for you?</p>
    <p>Find out <a class="alert" href="#/cookies">Here</a> </p>
</div>