<div class="all-pages">
  <ul class="products">
    <li class="product__item">
      <p class="product__item__content">
        <input type="checkbox">
        <span class="product__text">
          <i class="fa fa-check-circle"></i>
          <span>Africa</span>
        </span>
      </p>
    </li>
    <li class="product__item">
      <p class="product__item__content">
        <input type="checkbox">
        <span class="product__text">
          <i class="fa fa-check-circle"></i>
          <span>Antarctica</span>
        </span>
      </p>
    </li>
    <li class="product__item">
      <p class="product__item__content">
        <input type="checkbox">
        <span class="product__text">
          <i class="fa fa-check-circle"></i>
          <span>Asia</span>
        </span>
      </p>
    </li>
    <li class="product__item">
      <p class="product__item__content">
        <input type="checkbox">
        <span class="product__text">
          <i class="fa fa-check-circle"></i>
          <span>Australia</span>
        </span>
      </p>
    </li>
    <li class="product__item product__item--editable">
      <p class="product__item__content">
        <input type="checkbox">
        <span class="product__text">
          <i class="fa fa-caret-right"></i>
          <i class="fa fa-check-circle"></i>
          <span>Europe</span>
        </span>
      </p>
    </li>
    <li class="product__item product__item--editable">
      <p class="product__item__content">
        <input type="checkbox">
        <span class="product__text">
          <i class="fa fa-caret-down"></i>
          <i class="fa fa-pencil"></i>
          <span>North America</span>
        </span>
      </p>
      <ul class="products__inner">
        <li class="product__inner_item">
          <p class="product__item__content">
            <input type="checkbox">
            <span class="product__inner__text">
              <i class="fa fa-check-circle"></i>
              <span>Canada</span>
            </span>
          </p>
        </li>
        <li class="product__inner_item">
          <p class="product__item__content">
            <input type="checkbox">
            <span class="product__inner__text">
              <i class="fa fa-clock-o"></i>
              <span>Costa Rica</span>
            </span>
          </p>
        </li>
        <li class="product__inner_item">
          <p class="product__item__content">
            <input type="checkbox">
            <span class="product__inner__text">
              <i class="fa fa-times-circle"></i>
              <span>Guatemala</span>
            </span>
          </p>
        </li>
        <li class="product__inner_item">
          <p class="product__item__content">
            <input type="checkbox">
            <span class="product__inner__text">
              <i class="fa fa-pencil"></i>
              <span>El Salvador</span>
            </span>
          </p>
        </li>
        <li class="product__inner_item">
          <p class="product__item__content">
            <input type="checkbox">
            <span class="product__inner__text">
              <i class="fa fa-check-circle"></i>
              <span>Mexico</span>
            </span>
          </p>
        </li>
        <li class="product__inner_item">
          <p class="product__item__content">
            <input type="checkbox">
            <span class="product__inner__text">
              <i class="fa fa-check-circle"></i>
              <span>USA</span>
            </span>
          </p>
        </li>
      </ul>
    </li>
    <li class="product__item">
      <p class="product__item__content">
        <input type="checkbox">
        <span class="product__text">
          <i class="fa fa-check-circle"></i>
          <span>South America</span>
        </span>
      </p>
    </li>
  </ul>
</div>
