<div class="all-pages">
  {{#continets}}
    <ul class="products">
      <li class="product__item product__item--editable">
        <label class="product__item__content">
          <input type="checkbox" class="popup__checkbox">
          <span class="product__text">
            <i class="fa fa-caret-down"></i>
            <i class="fa fa-{{icon}}  circle-icon"></i>
            <span>{{name}}</span>
          </span>
        </label>
        {{#if categories}}
          <ul class="products__inner">
            {{#each category}}
              <li class="product__item">
                <label class="product__item__content">
                  <input type="checkbox" class="popup__checkbox">
                  <span class="product__text">
                    <i class="fa fa-{{icon}} circle-icon circle-icon--green"></i>
                    <span>{{name}}</span>
                  </span>
                </label>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    </ul>
  {{/continets}}
</div>
