<button id="btn-popup-open" class="btn btn--success">
  <span class="btn__text">Select pages</span>
</button>
<div id="popup-window" class="popup">
  <button class="btn-popup-close" type="button" name="button">X</button>
  <div class="popup__header">
    <h3>Select pages</h3>
    <ul class="menu">
      <li class="menu__item">
        <span class="menu__item__text">All pages</span>
      </li>
      <li class="menu__item">
        <span class="menu__item__text">Selected</span>
        <span class="menu__item__badge">3</span>
      </li>
    </ul>
    <div class="search">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" name="search" placeholder="Narrow by typing...">
    </div>
  </div>
  <div class="popup__content">
    <ul class="products">
      <li class="product">
        <input type="checkbox">
        <i class="fa fa-check-circle"></i>
        <span class="product__text">Africa</span>
      </li>
    </ul>
  </div>
</div>
