<div class="selected-pages">
  <ul class="selected-products">
    <li class="selected-product__content">
      <i class="fa fa-times button--remove--content"></i>
      <i class="fa fa-pencil circle-icon"></i>
      <p class="selected-product__text">
        <span class="selected-product__title">Antarctica</span>
        <span class="selected-product__description">On top level</span>
      </p>
    </li>
    <li class="selected-product__content">
      <i class="fa fa-times button--remove--content"></i>
      <i class="fa fa-check circle-icon circle-icon--green"></i>
      <p class="selected-product__text">
        <span class="selected-product__title">Canada</span>
        <span class="selected-product__description">Under North America</span>
      </p>
    </li>
    <li class="selected-product__content">
      <i class="fa fa-times button--remove--content"></i>
      <i class="fa fa-check circle-icon circle-icon--green"></i>
      <p class="selected-product__text">
        <span class="selected-product__title">Calgary</span>
        <span class="selected-product__description">Under North America > Canada</span>
      </p>
    </li>
  </ul>
</div>
