<h2>Add new TODO</h2>
<div class="form-group">
    <label for="tb-todo-text">Text: </label>
    <input id="tb-todo-text" class="form-control">
</div>
<div class="form-group">
    <label for="tb-todo-category">Category: </label>
    <input id="tb-todo-category" class="form-control">
</div>
<button class="btn btn-success" id="btn-todo-add">Add</button>