$font-size: 13px;
$font-family: 'Open Sans Regular', 'Open Sans';
$product-item-content-selected-background-color: rgba(106, 204, 204, .7);
$popup-header-background-color: rgb(237, 237, 237);
$blured-background-color: rgba(0, 0, 0, 0.7);
