$font-size: 13px;
$font-family: 'Open Sans Regular', 'Open Sans';
$product-item-content-selected-background-color: rgba(106, 204, 204, .7);
$product-item-content-color-hovered: rgba(224, 224, 224, .7);
$popup-header-background-color: rgba(224, 224, 224, .7);
$blured-background-color: rgb(219, 217, 217);
$btn-success-color: rgb(87, 198, 120);
$btn-success-color-hoverd: rgb(53, 127, 74);
$btn-default-color: none;
$btn-default-color-hoverd: rgb(190, 190, 190);
