@import "reset";
@import "variables";
@import "popup/popup";
body {
  font-size: $font-size;
  font-family: $font-family, serif;
  padding: 5px;
}
.container {
  margin: 10px;
}
.hidden {
  display: none;
}
.menu__item__badge {
  display: inline-block;
}
.button {
  border: 0;
  border-radius: 3px;
  padding: 0 15px 0 15px;
  height: 30px;
}
.button--state--default {
  border: 1px solid gray;
  background: $btn-default-color;
  &:hover {
    background: $btn-default-color-hoverd;
  }
}
.button--state--success {
  color: white;
  background: $btn-success-color;
  &:hover {
    background: $btn-success-color-hoverd;
  }
}
.fa {
  border-radius: 100%;
  text-align: center;
}
.fa-pencil {
  font-size: 0.8em;
}
.fa-caret-down {
  margin-right: 1%;
}
.fa-caret-right {
  margin-right: 2%;
}
.fa-caret-down, .fa-caret-right {
  font-size: 1.3em;
}
.circle-icon {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  text-align: center;
  background: black;
}
.circle-icon--blue {
  background: blue;
}
.circle-icon--green {
  background: $circle-green-color;
}
.circle-icon--lightgray {
  background: lightgray;
}
