@import "reset";
@import "variables";
@import "popup/popup";
body {
  font-size: $font-size;
  font-family: $font-family, serif;
}
.container {
  margin: 10px;
}
.hidden {
  display: none;
}
.button {
  border: 0;
  border-radius: 3px;
  padding: 0 15px 0 15px;
  height: 30px;
}
.button--state--default {
  border: 1px solid gray;
  background: $btn-default-color;
  &:hover {
    background: $btn-default-color-hoverd;
  }
}
.button--state--success {
  color: white;
  background: $btn-success-color;
  &:hover {
    background: $btn-success-color-hoverd;
  }
}
.fa {
  border-radius: 100%;
  text-align: center;
}
.fa-check-circle {
  color: green;
}
.fa-clock-o {
  color: blue;
}
.fa-pencil {
  font-size: 0.8em;
}
.fa-caret-down, .fa-caret-right {
  margin-right: 1%;
}
