@import 'variables';
@import 'components/popup-header';
@import 'components/popup-main';
@import 'components/popup-search';
@import 'components/popup-footer';

.popup-window {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background: $blured-background-color;
  transition: opacity 500ms;
  &:target {
    visibility: visible;
    opacity: 1;
  }
}
.popup {
  margin: 70px auto;
  background: white;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}
.button--popup--close--small {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 200ms;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: black;
  &:hover {
    color: #06D85F;
  }
}
