.popup__header {
  background-color: $popup-header-background-color;
  padding: 10px 10px 0 20px;
  h2 {
    font-weight: normal;
    color: gray;
  }
  .menu {
    .menu__item {
      display: inline-block;
      color: blue;
      margin-right: 15px;
      padding-bottom: 5px;
      &:hover {
        color: black;
      }
    }
    .menu__item--active {
      color: black;
      border-bottom: 2px solid gray;
    }
  }
}
