.popup__search {
  position: relative;
  padding: 10px 20px 5px 20px;
  input {
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    float: left;
    color: #63717f;
    padding-left: 35px;
  }
  .icon {
    position: absolute;
    top: -2px;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
}
.search--focused {
  .icon {
    color: blue;
  }
}
